---
import SmolContainer from "../components/SmolContainer.astro";
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
const postcardEntries = await getCollection("postcards");
const sortedPostcardEntries = [...postcardEntries];
sortedPostcardEntries.sort((a, b) => b.data.publishDate - a.data.publishDate);
---

<Layout>
  <SmolContainer>
    <h1>Postcards from friends</h1>
    <h2>What is this?</h2>
    <p>
      This is a collection of the different postcards I've received from
      friends. At some point I decided to start sending people postcards rather
      than buying them souvenirs. I really wanted to experience that delight
      myself, so I've begged people for postcards every time they go overseas.
    </p>
    <h2>All postcards</h2>
    <ul>
      {
        sortedPostcardEntries.map((post) => (
          <li>
            <a href={`/postcards/${post.id}`}>
              {post.data.title} | {post.data.dateReceived}
            </a>
          </li>
        ))
      }
    </ul>
  </SmolContainer>
  <style>
    ul {
      list-style: none;
      padding-left: 0;
    }

    ul > * + * {
      margin-top: 8px;
    }
  </style>
</Layout>
