---
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import SmolContainer from "../../components/SmolContainer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("postcards");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <SmolContainer>
    <div><a href="/">&lt;- Back to all postcards</a></div>
    <h1>{post.data.title}</h1>
    <div style="display:flex;flex-direction: column;gap:8px;">
      <Image
        class="postcard__image"
        src={post.data.image}
        alt={"An image of the postcard for " + post.data.title}
      />
      <div style="display: flex;gap:8px">
        <!-- TODO: use icons here instead to achieve desired effect maybe? -->
        <div>Location: {post.data.location}</div>
        <div>Date received: {post.data.dateReceived}</div>
      </div>
    </div>
    <Content />
  </SmolContainer>
</Layout>

<style>
  .postcard__image {
    max-width: 100%;
    height: auto;
  }
</style>
