---
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import SmolContainer from "../../components/SmolContainer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("postcards");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <SmolContainer>
    <div><a href="/">&lt; Back to all postcards</a></div>
    <div style="display:flex;flex-direction: column;gap:36px">
      <div>
        <h1>{post.data.title}</h1>
        <div>
          <div style="display:flex; align-items: center; gap:8px">
            <div class="postcard__location">
              <!-- <Icon name="mdi:map-marker" /> -->
              {post.data.location}
            </div>
            <div>|</div>
            <div class="postcard__date">
              <!-- <Icon name="mdi:calendar" /> -->
              {post.data.dateReceived}
            </div>
          </div>
        </div>
      </div>
      <article>
        <Image
          class="postcard__image"
          src={post.data.image}
          alt={"An image of the postcard for " + post.data.title}
        />
        <Content />
      </article>
    </div>
  </SmolContainer>

  <style>
    h1 {
      font-size: 4rem;
      margin-bottom: 0;
    }
    .postcard__image {
      max-width: 100%;
      height: auto;
    }
    .postcard__location {
      font-size: 1.5rem;
    }
    .postcard__date {
      font-size: 1.5rem;
      color: #535353;
    }
  </style>
</Layout>
